{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    {# 引入公共头部#}
    {% include "parts/head.html" %}
    <!--额外引入-->
    <script type="text/javascript" src="{% static "js/mp.mansory.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#my-gallery-container").mpmansory(
            {
              childrenClass: '', // default is a div
              columnClasses: '', //add classes to items
              breakpoints:{
                lg: 3,
                md: 3,
                sm: 4,
                xs: 6
              },
              distributeBy: { order: false, height: false, attr: 'data-order', attrOrder: 'asc' },
              onload: function (items) {
                //make somthing with items
              }
            }
          );

        })

    </script>


</head>
<body>
{% include "parts/nav.html" %}

<!--主题部分-->
<div class="container">


    {% if affairData %}
        <div class="row" id="my-gallery-container"><!-- 将要加入的略缩图放入row中 -->
        {% for affair in affairData %}
            <div>
            <a href="{% url "affair:affairDisplay" affairType %}/{{ affair.affairId }}">
                <div class="thumbnail">
                    <!--start这是图片放置的位置-->
                    {% if affair.img %}
                        <img src="/media/{{ affair.img }}" alt="皮卡丘" class="img-responsive"/>
                    {% else %}
                        <img src="/media/{{ defaultImgPath }}" alt="皮卡丘" class="img-responsive"/>
                    {% endif %}
                    <!--end这是图片放置的位置-->
                    <!--start这是文字描述放置的位置-->
                        <div class="caption">
                            <h4>{{ affair.affairName }}</h4>
                            <p style="color:red;"><span style="color:black;">类型：</span>{{ affair.type }}</p>
                            {% if affair.tag %}
                               <p style="color:red;"><span style="color:black;">标签：</span>{{ affair.tag }}</p>
                            {% else %}
                                <p style="color:red;"><span style="color:black;">标签：</span>暂无</p>
                            {% endif %}

                        </div>
                    <!--end这是文字描述放置的位置-->
                </div>
            </a>
            </div>
        {% endfor %}
        </div>

    {% else %}
        <div style="font-size:50px;text-align:center;">暂时没有需求哦</div>
    {% endif %}



</div>

</body>
</html>