{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <title>商品详情</title>

    {# 引入公共头部#}
    {% include "parts/head.html" %}

    <!--额外引入-->
    <script type="text/javascript">
        $(function () {


            $('#getAffair').click(function () {
                var data = {
                    'receiverId': $.cookie('id'),
                    'providerId':{{ affairData.affairProviderId_id }},
                    'affairId':{{ affairData.affairId }},
                };


                $.ajax({
                    url: "{% url "order:createOrder" %}",
                    //请求的url地址
                    type: "post",
                    //请求方式
                    dataType: "json",
                    //返回格式为json
                    async: true,
                    //请求是否异步，默认为异步，这也是ajax重要特性
                    data: JSON.stringify(data),
                    //参数值
                    beforeSend: function (xhr, setting) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                    },
                    success: function (data) {
                        if (data['statusCode'] == '0') {
                            warning('接受成功');
                            $("#receiverNum").html(data['receiverNum']);
                        } else if (data['statusCode'] == '1') {
                            warning('上传数据错误');
                        } else if (data['statusCode'] == '2') {
                            warning('创建失败');
                        } else if (data['statusCode'] == '3') {
                            warning('事务不存在');
                        } else if (data['statusCode'] == '4') {
                            warning('人手已经足够了哦');
                            $("#receiverNum").html(data['receiverNum']);
                        }


                    },
                    complete: function () {
                        //请求完成的处理
                    },
                    error: function () {
                        //请求出错处理
                        warning('请求出错');
                    }
                });


            });

            $("#discussSubmit").click(function (e) {
                e.preventDefault();
                if (!$("#discussContent").val()) {
                    warning('为空不能提交哦！');
                } else {
                    var data = {
                        'discussContent': $("#discussContent").val(),
                        'affairId':{{ affairData.affairId }}
                    }
                    $.ajax({
                        url: "{% url "discuss:discussProcess" %}",
                        //请求的url地址
                        type: "post",
                        //请求方式
                        dataType: "json",
                        //返回格式为json
                        async: true,
                        //请求是否异步，默认为异步，这也是ajax重要特性
                        data: JSON.stringify(data),
                        //参数值
                        beforeSend: function (xhr, setting) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                        },
                        success: function (data) {
                            if (data['statusCode'] == '0') {
                                warning('接受成功');
                                $("#receiverNum").html(data['receiverNum']);
                            } else if (data['statusCode'] == '1') {
                                warning('评论失败');
                            }


                        },
                        complete: function () {
                            //请求完成的处理
                        },
                        error: function () {
                            //请求出错处理
                            warning('请求出错');
                        }
                    });
                }
            })


        });


    </script>

</head>
<body>
{% include "parts/nav.html" %}

<!--主题部分-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>
                <span class="glyphicon glyphicon-tags" aria-hidden="true"
                      style="color:orangered;"></span> {{ affairData.affairId }}.{{ affairData.affairName }}
            </h1>

            <div class="carousel slide" id="affairImgPaint">
                {% for img in imgArray %}
                    <ol class="carousel-indicators">

                        {% if forloop.counter0 == 0 %}
                            <li data-slide-to="{{ forloop.counter0 }}" data-target="#affairImgPaint" class="active">
                            </li>
                        {% else %}
                            <li data-slide-to="{{ forloop.counter0 }}" data-target="#affairImgPaint" class="">
                            </li>
                        {% endif %}


                    </ol>
                {% endfor %}

                <div class="carousel-inner">
                    {% if not imgArray %}
                        <div class="item active">
                            <img alt="" src="/media/affairImg/default.png" class="img-responsive center-block"
                                 style="height:300px"/>
                            <div class="carousel-caption">
                                <h4>
                                    事务展示
                                </h4>
                                <p>
                                    {{ img.name }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% for img in imgArray %}
                        {% if forloop.counter0 == 0 %}
                            <div class="item active">
                                <img alt="" src="/media/{{ img.img }}" class="img-responsive center-block"
                                     style="height:300px"/>
                                <div class="carousel-caption">
                                    <h4>
                                        事务展示
                                    </h4>
                                    <p>
                                        {{ img.name }}
                                    </p>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <img alt="" src="/media/{{ img.img }}" class="img-responsive center-block"
                                     style="height:300px;"/>
                                <div class="carousel-caption">
                                    <h4>
                                        事务展示
                                    </h4>
                                    <p>
                                        {{ img.name }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>

                <a class="left carousel-control" href="#affairImgPaint" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#affairImgPaint"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>
                        {% if affairData.type %}
                            <strong>类型:</strong> {{ affairData.type }}
                        {% else %}
                            <strong>类型:</strong> 暂无
                        {% endif %}
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>
                        {% if affairData.type %}
                            <strong>标签:</strong> {{ affairData.tag }}
                        {% else %}
                            <strong>类型:</strong> 暂无
                        {% endif %}
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <strong>人数:</strong> <span
                        id="receiverNum">{{ affairData.receiverNum }}</span>/{{ affairData.needReceiverNum }}
                    </h4>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>
                        {% if affairData.rewardType == '0' %}
                            <strong>酬劳:</strong> {{ affairData.rewardMoney }}
                        {% else %}
                            <strong>酬劳:</strong> {{ affairData.rewardThing }}
                        {% endif %}
                    </h4>
                </div>

            </div>


            <button type="button" class="btn btn-default btn-block btn-primary  btn-lg" id="getAffair" href="#">
                能帮上忙？那就快快帮帮他吧！
            </button>
        </div>
    </div>

    <br/>

</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="tabbable" id="tab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#detail" data-toggle="tab">详细介绍</a>
                    </li>
                    <li>
                        <a href="#comment" data-toggle="tab">评论</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="detail">
                        <h3>

                            {{ affairData.affairDetail }}
                        </h3>
                    </div>
                    <div class="tab-pane" id="comment">


                        <caption>回帖区</caption>
                        {% if discussContent %}
                            {% for data in discussContent %}
                                {#                                    <tr>#}
                                {#                                        <td rowspan="3">占位</td>#}
                                {#                                        <td>昵称:{{ data.nickName }}</td>#}
                                {#                                    </tr>#}
                                {#                                    <tr>#}
                                {#                                        <td height="160px">{{ data.content }}</td>#}
                                {#                                    </tr>#}
                                {#                                    <tr>#}
                                {#                                        <td>{{ data.createTime }}</td>#}
                                {#                                    </tr>#}
                                <div class="panel panel-default">
                                    <div class="panel-heading">昵称:{{ data.nickName }}</div>
                                    <div class="panel-body">
                                        {{ data.content }}
                                    </div>
                                    <div class="panel-footer">{{ data.createTime }}</div>
                                </div>

                            {% endfor %}
                        {% else %}
                            <h3>暂时还没有讨论哦，快来抢沙发！</h3>
                        {% endif %}

                        <form>
                            <div class="form-group">
                                <label for="discussContent">参与讨论</label>
                                <textarea class="form-control" rows="5" id="discussContent"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" id="discussSubmit">提交</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</body>
</html>