{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <title>修改密码</title>
    {# 引入公共头部#}
    {% include "parts/head.html" %}
    <!--额外引入-->
    <script type="text/javascript">
        $(function () {
            var flag = 0;
            $.each($("#passwordForm input"), function (i, val) {
                $(val).blur(function () {
                    if ($(val).attr("name") == "pwd") {
                        $("#pwdMsg").remove();
                        var pwd = val.value;
                        var regPwd = /^\w{4,10}$/;
                        if (pwd == "" || pwd.trim() == "") {
                            errMsg = "<div class='alert alert-danger'  role='alert' id='pwdMsg'><span class='pwdMsg'>密码不能为空</span><a class=\"close\" data-dismiss=\"alert\">×</a></div>";
                            flag = 0;
                        } else if (!regPwd.test(pwd)) {
                            errMsg = "<div class='alert alert-danger'  role='alert' id='pwdMsg'><span class='pwdMsg'>格式错误</span><a class=\"close\" data-dismiss=\"alert\">×</a></div>";
                            flag = 0;
                        } else {
                            errMsg = "<div class='alert alert-success'  role='alert' id='pwdMsg'><span class='pwdMsg'>OK！</span><a class=\"close\" data-dismiss=\"alert\">×</a></div>";
                        }
                        $(this).parent().append(errMsg);
                    } else if ($(val).attr("name") == "pwd2") {
                        $("#pwd2Msg").remove();
                        var pwd2 = $("#pwd2").val();
                        var pwd = $("#pwd2").val();
                        if (pwd2 == "" || pwd2.trim() == "" || pwd2 != pwd) {
                            errMsg = "<div class='alert alert-danger'  role='alert' id='pwd2Msg'><span class='pwd2Msg'>两次输入密码不一致</span><a class=\"close\" data-dismiss=\"alert\">×</a></div>";
                            flag = 0;
                        } else {
                            errMsg = "<div class='alert alert-success'  role='alert' id='pwd2Msg'><span class='pwd2Msg'>OK！</span><a class=\"close\" data-dismiss=\"alert\">×</a></div>";
                            flag = 1;
                        }
                        $(this).parent().append(errMsg);
                    }
                    if(flag && $("#rawPwd").val())
                    {
                        $("#changeSubmit").removeClass("disabled");
                    }

                })
            });

            $("#changeSubmit").click(function () {
                if(!$(this).hasClass('disabled'))
                {
                    var fd = new FormData($('#passwordForm')[0]);
                    $.ajax({
                    url: "{% url 'myinfo:processPasswordChange' %}",
                    type: "POST",
                    data: fd,
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                    beforeSend: function (xhr, setting) {
                        $('#loadingModal').modal({backdrop: 'static', keyboard: false});
                        $("#loadingModal").modal('show');
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        $("#loadingModal").modal('hide');
                        var delay = 5;
                        if (data['statusCode'] == '0') {
                            $.cookie('password', data['password'], {
                                expires: 1,
                                path: '/'
                            });
                            $("#warning").modal({backdrop: 'static', keyboard: false});
                            $('#warningContent').html("<h1>信息修改成功</h1><h3>将在" + delay + "s后返回上一页</h3>" + "<p4><a href='{% url "myinfo:totalInfo" %}'>立即返回</a></p4>");
                            $('#warning').modal({backdrop: 'static', keyboard: false});
                            $('#warning').modal('show');
                            clock1 = setInterval(function () {
                                delay = delay - 1;
                                $('#warningContent').html("<h1>信息修改成功</h1><h3>将在" + delay + "s后返回上一页</h3>" + "<p4><a href='{% url "myinfo:totalInfo" %}'>立即返回</a></p4>");
                            }, 1000);
                            clock2 = setTimeout(function () {
                                window.history.back();
                            }, delay * 1000);
                        } else if (data['statusCode'] == '1') {
                            $("#warning").modal({backdrop: 'static', keyboard: false});

                            afterUnlogin();
                            clock1 = setInterval(function () {
                                delay = delay - 1;
                                $('#warningContent').html("<h1>您的登录有问题，请重新登录！</h1><h3>将在" + delay + "s后返回首页</h3>" + "<p4><a href='http://{{ request.META.HTTP_HOST }}'>立即返回</a></p4>");
                            }, 1000);
                            clock2 = setTimeout(function () {
                                window.location.replace("http://{{ request.META.HTTP_HOST }}");
                            }, delay * 1000);
                        } else if(data['statusCode'] == '3'){
                            warning("原密码输入错误，请重新输入");
                            $("#pwd").val("");
                            $("#pwd2").val("");
                            $("#pwdMsg").remove();
                            $("#pwd2Msg").remove();
                        }
                    },
                    error: function () {
                        $("#loadingModal").modal('hide');
                        $("#warning").modal({backdrop: 'static', keyboard: false});
                        //请求出错处理
                        warning('请求出错');
                    }
                });
                }

            });

        });


    </script>


</head>
<body>
{% include "parts/nav.html" %}

<!--主题部分-->
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">修改密码</div>
        <div class="panel-body">
            <form class="form-group" action="" id="passwordForm">
                <div class="form-group">
                    <label for="rawPwd">原密码</label>
                    <input class="form-control" type="password" placeholder="" name="rawPwd"
                           id="rawPwd"/>
                </div>
                <div class="form-group">
                    <label for="pwd">修改后的密码</label>
                    <input class="form-control" type="password" placeholder="" name="pwd"
                           id="pwd"/>
                </div>
                <div class="form-group">
                    <label for="pwd2">确认密码</label>
                    <input class="form-control" type="password" placeholder="" name="pwd2"
                           id="pwd2"/>
                </div>


                <div class="text-right" id="registerButtonGroup">
                    <button class="btn btn-primary btn-lg btn-block disabled" type="button" id="changeSubmit">确认修改
                    </button>
                </div>
            </form>
        </div>
    </div>


</div>


<div class="modal fade" id="loadingModal">
    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
        <div class="progress progress-striped active" style="margin-bottom: 0;">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <h5>正在上传...</h5>
    </div>
</div>

</body>
</html>