{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    {# 引入公共头部#}
    {% include "parts/head.html" %}
    <!--额外引入-->
    <script type="text/javascript">
        $(function () {
            $("td button").click(function () {
                var data = {
                    'affairId': $(this).parent().siblings().first().html()
                }
                $.ajax({
                    url: "{% url "myinfo:changeAffairStatus" %}",
                    //请求的url地址
                    type: "post",
                    //请求方式
                    dataType: "json",
                    //返回格式为json
                    async: true,
                    //请求是否异步，默认为异步，这也是ajax重要特性
                    data: JSON.stringify(data),
                    //参数值
                    beforeSend: function (xhr, setting) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                    },
                    success: function (data) {
                        window.location.reload()
                    },
                    complete: function () {
                        //请求完成的处理
                    },
                    error: function () {
                        //请求出错处理
                        warning('请求出错');
                    }
                });
            });
        })
    </script>


</head>
<body>
{% include "parts/nav.html" %}

<!--主题部分-->
<div class="container">
    <h2>我创建的事务</h2>
    {% if affairData %}
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">

                <tr>
                    <th>事务编号</th>
                    <th>事务名称</th>
                    <th>接受情况</th>
                    <th>创建时间</th>
                    <th>订单查看</th>
                    <th>修改事务</th>
                </tr>

                {% for data in affairData %}
                    <tr>
                        <td>{{ data.affairId }}</td>
                        <td>
                            <a href="{% url "affair:affairDetail" data.typeEnglish data.affairId %}">{{ data.affairName }}</a>
                        </td>
                        <td>{{ data.receiverNum }}/{{ data.needReceiverNum }}</td>
                        <td>{{ data.affairCreateTime }}</td>
                        <td><a class="btn btn-primary btn-xs" href="{% url "order:relatedOrder" data.affairId %}"
                               role="button" id="{{ data.affairId }}">查看订单</a></td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url "affair:editAffair" data.affairId %}"
                               role="button" id="{{ data.affairId }}">修改</a>

                            {% if data.statusFlag == '0' %}
                                <button class="btn btn-warning btn-xs" href="#" type="submit"
                                        id="changeAffairStatus{{ data.affairId }}">暂停发布
                                </button>
                            {% elif data.statusFlag == '2' %}
                                <button class="btn btn-success btn-xs" href="#" type="submit"
                                        id="changeAffairStatus{{ data.affairId }}">继续发布
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}


            </table>
        </div>
    {% else %}
        <h3>emmmm，你还没有创建事务哦，<a href="{% url "affair:createAffair" %}">快试试把！</a></h3>
    {% endif %}
</div>


</body>
</html>